body{
    font-family: Georgia, serif;
}
h1, h2{
    font-weight: bold;
    color: #4aaaa5;
}

.navbar-brand-text{
    color: white;
    font-weight: bold;
}

.data-comparison-header{
    text-align: center;
    color:#7f8d9c;
}
p {
    color:#7f8d9c;
}
.navbar-brand{
    color:white;
    width: 120px;
    text-align: center;
    background-color: #4aaaa5;
}
.navbar-toggler{
    background-color: #4aaaa5;
}

.col-lg-7, .col-lg-4, .col-md-12{
    background-color: white;
    padding: 2rem;
}

.image-container img {
    float: left;
    width: 45%;
    margin: 1.66666%;
    border-color: black;
}

.intro-image{
    float: left;
}

.comparison-img{
    width: 100%;
    padding-bottom: 1rem;
}

@media (max-width: 991px){
    .navbar {
        background-color: #4aaaa5;
    }
}

@media (min-width: 992px) {
    .boarder{
        padding-top: 3rem;
        padding-block-end: 3rem;
        background-color: #ededed;
    }
    .container{
        background-color: #ededed;
    }
}

